{% extends 'maps_app/base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid" style="text-align: center;">
    <br>
    <div>
        <br>
        <br>
        <div class="container col-lg-12">
            <h4 class="text-center">Please enter at least two search locations and search category.</h4>
            <br>
            <br>
            <form action={% url 'maps_app_view_search' %}>
                <input type="submit" value="Back to Search" class="btn btn-primary">
            </form>
        </div>
        
        
        <div style="height: 800px;"></div>
    </div>
</div>
{% endblock content %}