{% extends 'maps_app/base.html' %}
{% block content %}
{% load static %}

<!-- Masthead -->
<header class="masthead text-center text-white">
    <div class="overlay"></div>
    <div class="container">
    <div class="row">
        <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Welcome to Hang-Outs!</h1>
        <h4>Find the most convenient places of interest that you can meet up with friends or family!</h4>
        </div>
    </div>
    </div>
</header>


<!-- Icons Grid -->
<section class="features-icons text-center">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <img class="icon-center" src="{% static "maps_app/home.png" %}" alt="My image">
            <p class="lead">Enter category of places of interest and the locations of the people that you want to 'Hang-Out' with.</p>

            <form method="POST" style="margin-left: auto;"> {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Search" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
</section>

<br>
<br>

    
{% endblock content %}